[submodule "deps/litex"]
	path = deps/litex
	url = https://github.com/enjoy-digital/litex.git
[submodule "deps/gateware"]
	path = deps/gateware
	url = https://github.com/betrusted-io/gateware.git
[submodule "deps/migen"]
	path = deps/migen
	url = https://github.com/m-labs/migen.git
